<%= form_with model: @jobapplication do |f| %>
    <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>  
    <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div> 
    <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <div>
        <%= fields_for(:address_attributes) do |address_field| %>
            <div>
                <%= address_field.label :street%>
                <%= address_field.text_field :street %>
            </div>
            <div>   
                <%= address_field.label  :city %>
                <%= address_field.text_field :city %>
            </div>
            <div>
                <%= address_field.label :zip_code %>
                <%= address_field.text_field :zip_code %>
            </div>
            <div>
                <%= address_field.label :state %>
                <%= address_field.text_field :state %>
            </div>
        <% end%>
    </div>

    <%= f.submit "Submit Application" %>
<% end %>