  <div class="d-flex flex-row bg-dark justify-content-evenly">
  <h1 class="text-muted">Moments Captured</h1> 
  <ul class="nav justify-content-center  text-muted ">
    <% if current_user %> 
          <li class="nav-item">
            <%= link_to "My Profile", profile_path(current_user.profile),class:"nav-link  "%>
          </li>
          <% else%>
            <li class="nav-item"> 
              <%= link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_url,class:"nav-link" %>
            </li>
          <% end%>
          <% if current_user %>
          <li class="nav-item">  
            <%= link_to 'Jobs', photography_jobs_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Create Job', new_photography_job_path, class:"nav-link"%>
          </li>
    <% end %>
    
</ul>
<% if current_user%>
            <li class="nav-item">
              <%= button_to 'Logout', destroy_user_session_url, method: :delete%>
            </li>
    <% end%>
</div>